/* -------------------------------------------------------------------- */
/* Tailwind base, components e utilities                              */
/* -------------------------------------------------------------------- */
@import "tailwindcss/preflight";
@tailwind utilities;

/* -------------------------------------------------------------------- */
/* Stili globali personalizzati                                         */
/* -------------------------------------------------------------------- */

/* Body principale */
body {
  margin: 0;
  padding: 0;
}

/* Titoli */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

