/* gambling.module.css */

.gameContainer {
    background-color: var(--color-background);
    color: var(--color-text);
}

.gameLayout {
    display: flex;
    justify-content: space-between;
}

.controlsPanel {
    background-color: var(--color-card-bg);
    color: var(--color-text);
}

/* Griglia di gioco */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cell {
    width: 60px;
    height: 60px;
    background-color: var(--color-cell-bg);
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    margin: 5px;
}
